{% extends 'base-admin.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
    <h1>Modifier une entreprise</h1>

    {{ include('common/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entreprise_index') }}">Annuler et retourner à la liste</a>

{% endblock %}
