Bonjour {{ representant.civilite }} {{ representant.nom|capitalize }},

Vous avez décidé de créer votre compte.

L'accès se fera sur ce lien <a href="http://forum.iut-troyes.fr/">http://forum.iut-troyes.fr</a>.

{# en fonction du choix #}
Vous pourrez gérer vos offres et votre inscription, mais aussi accéder à votre planning lors du jobdating, ainsi
qu'aux CV des candidats.

En cas de besoin vous pouvez contacter Fanny Passemard (fanny.passemard@univ-reims.fr) ou  03 25 42 71 55.

Dans l'attente de vous accueillir lors de notre forum,

Bien cordialement,

Les organisateurs du Forum IUT-Entreprise
