{% extends 'base.html.twig' %}

{% block title %}FIE{% endblock %}

{% block content %}



<a href="{{ path('professionnel_index') }}" class="btn btn-block btn-primary">Je suis une entreprise, je participe au Forum IUT Entreprise</a>
<a href="#" class="btn btn-block btn-primary">Je suis une entreprise, je souhaite gérer mes offres et mon planning</a>
<a href="{{ path('etudiant_index') }}" class="btn btn-block btn-primary">Je suis étudiant, je veux m'inscrire au jobdating</a>
<a href="{{ path('administration_index') }}">Je suis Fanny</a>
{% endblock %}
