{% extends 'base.html.twig' %}

{% block title %}FIE{% endblock %}

{% block content %}

<a href="{{ path('professionnel_index') }}" class="btn btn-block btn-primary">Je suis une entreprise, je participe au Forum IUT Entreprise</a>
<a href="{{ path('security_login') }}" class="btn btn-block btn-primary">Je suis une entreprise, je souhaite gérer
    mes offres et mon planning</a>
<a href="{{ path('security_login') }}" class="btn btn-block btn-primary">Je suis étudiant, je veux m'inscrire au jobdating</a>
{% endblock %}
