{% extends 'base.html.twig' %}

{% block content %}

    <p>Votre compte a bien été créé. Vous pourrez maintenant gérer vos offres, en ajouter ou accéder aux CV des
        candidats intéressés directement sur votre compte.</p>

    <p>Toutes ces informations vous ont été envoyées par email.</p>
{% endblock %}

{% block title %}
    Confirmation de création de votre compte
{% endblock %}

