{% extends 'base-admin.html.twig' %}

{% block title %}Edit Diplome{% endblock %}

{% block body %}
    <h1>Modifier un diplôme</h1>

    {{ include('common/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('diplome_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
