{% extends 'base-admin.html.twig' %}

{% block title %}New Diplome{% endblock %}

{% block body %}
    <h1>Ajouter un diplômee</h1>

    {{ include('common/_form.html.twig') }}
<br>
    <a href="{{ path('diplome_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
