{% extends 'base-admin.html.twig' %}

{% block title %}Diplome{% endblock %}

{% block body %}
    <h1>Détails d'un diplôme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diplome.id }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ diplome.sigle }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ diplome.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diplome_index') }}">Retourner à la liste</a>

{% endblock %}
