<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <h1>Forum IUT-Entreprise | IUT De Troyes</h1>
        <h2>Le 7 février 2019 de 14h00 à 17h30</h2>
   {% block content %}

   {% endblock %}
    </div>
        <script src="{{ asset('build/app.js') }}"></script>

        <script type="text/javascript">
        {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
