<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container container-body">
        <h1 class="display-3 text-center"><a href="{{ path('homepage') }}">Forum IUT-Entreprise | IUT De Troyes</a></h1>
        <h2 class="display-4 text-center">Le 7 février 2019 de 14h00 à 17h30</h2>
   {% block content %}

   {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Forum IUT-Entreprise | 2019 | IUT de Troyes | Votre contact : <a
                        href="mailot:fanny.passemard@univ-reims.fr">Fanny Passemard</a></span>
        </div>
    </footer>
        <script src="{{ asset('build/app.js') }}"></script>

        <script type="text/javascript">
        {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
