<form method="post" action="{{ path('representant_delete', {'id': representant.id}) }}" onsubmit="return confirm
('Confirmez-vous la suppression de cet élément ?');" style="display: inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ representant.id) }}">
    <button class="btn btn-danger" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
</form>
