{% extends 'base-admin.html.twig' %}

{% block title %}Edit Representant{% endblock %}

{% block body %}
    <h1>Modifier un représentant entreprise</h1>

    {{ include('common/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('representant_index') }}">Annuler et retourner à la liste</a>

{% endblock %}
