{% extends 'base-admin.html.twig' %}

{% block title %}New Representant{% endblock %}

{% block body %}
    <h1>Create new Representant</h1>

    {{ include('common/_form.html.twig') }}

    <a href="{{ path('representant_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
