{% extends 'base-admin.html.twig' %}

{% block title %}Ajouter un représentant{% endblock %}

{% block body %}
    <h1>Ajouter un représentant</h1>

    {{ include('common/_form.html.twig') }}
    <a href="{{ path('representant_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
