{% extends 'base-admin.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <h1>Create new Offre</h1>

    {{ include('common/_form.html.twig') }}

    <a href="{{ path('offre_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
