{% extends 'base-admin.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Decription</th>
                <td>{{ offre.decription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offre_index') }}">Retourner à la liste</a>

{% endblock %}
